<% provide(:title, 'About') %> 
 <h1>Welcome To The Assistant</h1>
 <h2>We Are here for you</h2>
 <br>
 <br>
 <br>
<p>
 It's more about you really..so let's start saying we're here to make your life easier.It dosen't matter
 which langauge you speak or where do you live we'll provide to you the best informations about your health life.
</p>
<br>
<br>
<br>
<br>
<br>
<br>