<% provide(:title, 'Help') %>
<h1>The Assistant Helper</h1>
<!--<p>
  Find your Doctor in
  <a href="http://doctorberlin.de/">Berlin</a>.
  To get help on this sample app, see the
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>-->
<h2>Find your Doctor in Berlin</h2>
<!--<form action="http://doctorberlin.de/">
    <input type="submit" class="btn btn-default" value="Find Englisch speaker Doctors In Berlin">
  </form>-->
  

<div class="column-row">
  <div class="five columns">
    <form action="http://doctorberlin.de/">
      <button class="large blue awesome">English Doctors</button> <br/><br/>
    </form>
    <br>
    <form action="https://arabalmanya.com/archives/1323">
      <button class="large blue awesome">Arabic Doctors</button> <br/><br/>
    </form>
    <br>
    <form action="http://www.jameda.de/berlin/aerzte/gruppe/">
      <button class="large blue awesome">Germany Doctors</button> <br/><br/>
    </form>
  </div>
  <br>
  <h2>Nearby Hospitals in Berlin</h2>
  <form action="http://www.allianzworldwidecare.com/hospital-doctor-and-health-practitioner-finder?PROVTYPE=HOSPITALS&CON=Europe&COUNTRY=Germany&CITY=Berlin">
    <button class="large blue awesome">Hospitals</button> <br/><br/>
  </form>