<% provide(:title, 'TheAssistantApp') %>



<h1>Welcome to The Assistant</h1>

<h2>
 <br>
 <br>
 <br>
 <br>
 <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary btn-center" %>
 <br>
 <br>
 <br>
 <br>
 <br>
</h2>

</div>

<!--<%= link_to image_tag("rails.png", alt: "Rails logo"),
  'http://rubyonrails.org/' %>-->
  
</html>        