@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Buttens */
.wrapper
{width:940px;
margin:0 auto;
padding:0 30px 36px;
position:relative;
  
}
div#header{background:#f5f5f5;
height:72px;
border-bottom:1px solid #eee;
margin:0;
  
}
div#header h4{
  float:left;
  position:absolute;
  top:24px;
  left:145px;
  border-left:1px solid #ddd;
  padding-left:14px;
  
}
div#header h4 small{
  font-size:14px;
  font-weight:normal;
  
}
div#header h4 a,div#header h4 a:visited{
  font-weight:normal;
  
}
div.page-header{
  padding:0 0 8px;
  margin:18px 0;
  border-bottom:1px solid #ddd;
  
}
div.page-header h1{
  padding:0;
  margin:0;
  font-size:24px;
  line-height:27px;
  letter-spacing:0;
  
}
.awesome,.awesome:visited{
  background:#222 url(alert-overlay.png) repeat-x;
  display:inline-block;
  padding:5px 10px 6px;
  color:#fff;
  text-decoration:none;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  -moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
  text-shadow:0 -1px 1px rgba(0,0,0,0.25);
  border-bottom:1px solid rgba(0,0,0,0.25);
  position:relative;cursor:pointer;
  
}
.awesome:hover{
  background-color:#111;color:#fff;
  
}
.awesome:active{
  top:1px;
  
}
    .blue.awesome,.blue.awesome:visited{
      background-color:#2daebf;
      
    }
    .blue.awesome:hover{
      background-color:#007d9a;
      
    }