<footer class="footer">
  <small>
    Copyright © 2016 The <a href="https://plus.google.com/u/0/118019451695012885962/posts?hl=en">Assistant</a>
    by <a href="https://de.linkedin.com/in/wissam-ghozlan-0480a511a">Wissam </a>
    and <a href="https://de.linkedin.com/in/isa-abo-mohana-a19606121">Isa </a>All rights reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.medicalnewstoday.com/">News</a></li>
    </ul>
  </nav>
  <div class="footer-social-icons">
    
    <ul class="social-icons">
      <li><a href="https://www.facebook.com/TheAssistantApp12"> <i class="fa fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/TheAssistantApp"> <i class="fa fa-twitter"></i></a></li>
      <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
      <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
      <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
      <li><a href="https://plus.google.com/u/0/118019451695012885962/posts?hl=en"> <i class="fa fa-google-plus"></i></a></li>
    </ul>
  </div>
</footer>